h1 {
    font-size: 2.5rem !important;
    text-align: center;
    margin: 1rem !important;
}

h2 {
    font-size: 1.5rem !important;
    text-align: right;
    margin: 1rem !important;
}

.p-inputnumber {
    width: 50%;
}

.p-button-rounded {
    border-radius: 20px;
}

.p-datatable .p-datatable-thead > tr > th {
    font-weight: bold;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}

.p-datatable .p-datatable-tbody > tr > td:last-child {
    text-align: center;
}

.p-datatable .p-datatable-tbody > tr > td:last-child button {
    margin-right: 0;
}

.p-button-danger {
    background-color: #ff4949;
    border-color: #ff4949;
    color: #fff;
}

.p-button-danger:hover {
    background-color: #ff3333;
    border-color: #ff3333;
    color: #fff;
}
